.footer-foto{
    width: 1920px; 
}
.footer-foto img{
    width: 1920px;
    height: 454px;
    position: relative;
    margin: 0 auto;
}
.ali{
    position:absolute;
    width:1080px;
    height: 105px;
    background-color: white;
    display: flex;
    gap: 100px;
    z-index: 1;
    top: 148px;
    left: 405px;
    border-radius: 30px;
    padding: 30px 0 0 50px ;
}
input{
    border: none;
    margin-top: 10px;
}
.ali button{
    margin-top: 25px;
    width: 200px;
    height: 40px;
    background-color: red;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
}
.ali button img{
    width: 15px;
    height: 15px;
}
.footer{
    width: 1920px;
    height: 447px;
    background-color: black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; 
    position: relative;
    top:-30px;
}
.footer-top{
    display: flex;
    margin-bottom: 55px;
}
.footer-left img{
    margin: 50px 0 0 400px;
}
.footer-right{
    display: flex;
    gap: 30px;
    height: 40px;
    margin: 50px 0 0 550px;
}
.footer-right p{
    color: white;
}
.footer-right input{
    width: 90px;
    background: none;
    margin-bottom: 8px;
}
.email{
    width: 240px;
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 30px;
}
.email img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.texts{
    margin: 45px auto ;
}
.texts ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.texts ul li{
    color: #ccc;
    list-style: none;
    font-size: 22px;
}
.sotsety{
    width: 407px;
    height: 32px;
    margin: 40px auto 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.sotsety p {
    width: 345px;
    height: 14px;
color: #ccc;
margin: 0 auto;
display: flex;
}